@model ZulfieP.Models.Entities.ScientificTitles

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ScientificTitles</h4>
    <hr />
    <dl class="row">
        
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScientificTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScientificTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Income)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Income)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
